body   {
        background-color:#e6e6fa
        color: #191970;
        font-family: Arial, Verdana, sans-serif; 
    } 
h1     {
        background-color: #191970;
        color: #e6e6fa;
        line-height: 200%;
        font-family: Georgia, 'Times New Roman', Times, serif
        text-indent: 1em;
        text-align: center;
        text-shadow: 3px 3px 5px #cccccc;
    }
h2     {
        background-color: #aeaed4;
        color: #191970;
        font-family: Georgia, 'Times New Roman', Times, serif
        text-align: center;
    }
p      {
        font-size: 1.20em;
        text-indent: 3em;
    }
ul     {
        font-weight: bold;
    }
nav a  {
        text-decoration: none;
    }
.feature {  color: #c70000;}
.company {  font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.25em;

    }